.profile {
  flex: 1 0 auto;
  padding: 80px 30px 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.profile__wrapper {
  max-width: 410px;
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.profile__form {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
.profile__title {
  text-align: center; 
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 123px 0;
}
.profile__field {
  display: flex;
  justify-content: space-between;
  padding: 17px 0 0 0;
}
.profile__field:first-of-type {
  padding: 0 0 16px 0;
  border-bottom: 1px solid #424242;
}
.profile__field-property {
  font-size: 11px;
  font-weight: 500;
  flex: 1 0 auto;
  margin: 0 15px 0 0;
}
.profile__field-value {
  font-size: 11px;
  font-weight: 400;
  width: 100%;
  text-align: right;
  background: none;
  border: none;
  outline: none;
  color: #FFF;
  border-bottom: 1px solid #4286f400;
}
.profile__field-value:focus {
  text-align: center;
  border-bottom: 1px solid #4285F4;
}
.profile__save-button {
  border-radius: 3px;
  background: #4285F4;
  width: 100%;
  padding: 15px 0;
  margin: 220px 0 0 0;
  transition: opacity 0.2s;
  cursor: pointer;
}
.profile__save-button:hover {
  opacity: 0.8;
}
.profile__save-button:disabled {
  background: #2F2F2F;
  color: #C2C2C2;
  cursor: default;
}
.profile__save-button:disabled:hover {
  opacity: 1;
}
.profile__flex-wrapper {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  justify-content: end;
}
.profile__edit-link {
  margin: 220px 0 16px 0;
  display: inline;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
  transition: opacity 0.2s;
  align-self: center;
}
.profile__edit-link:hover {
  opacity: 0.7;
}
.profile__exit-link {
  color: #EE3465;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  transition: opacity 0.2s;
  align-self: center;
}
.profile__exit-link:hover {
  opacity: 0.7;
}
@media screen and (max-width: 900px) {
  .profile {
    padding: 40px 30px 0 30px;
  }
  .profile__title {
    margin: 0 0 96px 0;
  }
  .profile__edit-link {
    margin: 210px 0 16px 0
  }
  .profile__save-button {
    margin: 210px 0 0 0
  }
}

@media screen and (max-width: 550px) {
  .profile {
    padding: 70px 30px 40px 30px;
    position: relative;
  }
  .profile__wrapper {
    flex: 1 0 auto;
  }
  .profile__form {
    display: flex;
    flex-direction: column;
  }
  .profile__edit-link {
    margin: 30px 0 16px 0;
    font-size: 12px;
  }
  .profile__exit-link {
    font-size: 13px;
  }
  .profile__title {
    margin: 0 0 80px 0;
  }
  .profile__flex-wrapper {
    flex: 1 0 auto;
  }
  .profile__save-button {
    margin: 30px 0 0 0;
  }
}